<div class="theme">
  <div class="progress-bar">
    <div class="green-bar"></div>
    <div class="green-bar"></div>
    <div class="purple-bar"></div>
    <div class="purple-bar"></div>
    <div class="purple-bar"></div>
    <div class="purple-bar"></div>
    <div class="purple-bar"></div>
    <div class="purple-bar"></div>
    <div class="purple-bar"></div>
    <div class="purple-bar"></div>
  </div>
  <p>Your preferences</p>
  <div class="theme-box">
    <h1 class="text-center question">Where do you party?</h1>
  </div>

  <%= simple_form_for(@user, url: question_update_path) do |f| %>
    <div class="form-group text-center" style="position: absolute; top: 40%; left: 40%;">
      <div class="justify-content-center">
      <label for="partylocation" class="question-subtext" ></label>
      <%= select(:user, :partylocation, [
        ['Roppongi'],
        ['Shibuya'],
        ['Shinjuku'],
        ['Ueno'],
        ['Yurakucho'],
        ['Ginza'],
        ['Ikebukuro']
        ]) %>
      </div>
    </div>
    
    <div class="continue-div">
      <%= f.submit "", class: "continue-bttn" %>
    </div>
    
  <% end %>
  <%= render 'shared/question_layout' %>
</div>