<div class="theme">
  <h1 class="text-center question">Nearest Station</h1>
  <%= simple_form_for(@user, url: question_update_path) do |f| %>
    <div class="form-group text-center">
      <div class="justify-content-center location-field">
      <%= text_field(:user, :desired_location) %>
      <%= f.submit "Next", class: "next-button" %>
      </div>
    </div>
  <% end %>
  <%= render 'shared/question_layout' %>
</div>