<h1>Have any pets?</h1>

<%= simple_form_for(@user, url: question_update_path) do |f| %>
  <div class="form-group">
    <%= f.input :pets, as: :radio_buttons %>
    <%= f.submit "Next" %>
  </div>
<% end %>

<%= render 'shared/question_layout' %>