<h1>Have any pets?</h1>

<%= simple_form_for(@user, url: question_update_path) do |f| %>
  <div class="form-group">
    <div class="row justify-content-center">
     <%= f.input :pets, as: :radio_buttons %>
     <%= f.submit "Next" %>
    </div>
  </div>
<% end %>

<%= render 'shared/question_layout' %>
