<div class="theme">
  <div class="theme-box">
    <h1 class="text-center question" style="font-size: 28px;">How much space do you need?</h1>
  </div>
    <%= simple_form_for(@user, url: question_update_path) do |f| %>
      <div class="form-group text-center" style="position: absolute; top: 40%; left: 40%;">
        <div class="justify-content-center">
        <label for="pricerange" class="question-subtext" ></label>
        <%= select(:user, :layout, [
          ['25m²'],
          ['35m²'],
          ['45m²'],
          ['55m²'],
          ['65m²'],
          ['70m²'],
          ['80m²'],
          ['100m²'],
          ]) %>
        </div>
      </div>
      <div class="text-center">
        <%= f.submit "Next", class: "next-button", style: "top:80%" %>
      </div>
    <% end %>
    <%= render 'shared/question_layout' %>
</div>