<div class="theme">
  <h1 class="text-center question" style="font-size: 32px;">What apartment layout are you looking for?</h1>
    <%= simple_form_for(@user, url: question_update_path) do |f| %>
      <div class="form-group text-center">
        <div class="justify-content-center">
        <label for="pricerange" class="question-subtext" style="margin-bottom: 2rem;">Select from available layouts</label>
        <%= select(:user, :layout, [
          ['1K'],
          ['1DK'],
          ['1LDK'],
          ['2K'],
          ['2DK'],
          ['2LDK'],
          ['3K'],
          ['3DK'],
          ['3LDK'],
          ['4K'],
          ['4DK'],
          ['4LDK'],
          ['150,000 - 180,000', '150000-180000'],
          ['180,000 - 200,000', '180000-200000'],
          ['200,000 and above', '200000']
          ]) %>
        <%= f.submit "Next", class: "next-button" %>
        </div>
      </div>
    <% end %>
    <%= render 'shared/question_layout' %>
</div>