<h1>Do you like jogging?</h1>

<%= simple_form_for(@user, url: question_update_path) do |f| %>
  <div class="form-group">
    <%= f.input :distance_to_park, as: :radio_buttons, prompt: "Select your age" %>
    <%= f.submit "Next" %>
  </div>
<% end %>

<%= render 'shared/question_layout' %>