<div class="feed-criteria">
      <h2 class="header">Why this property was chosen for you</h2>
      <div class="feed-criteria-description">
        <p>
          <i class="fas fa-tree" style="color: $green;"></i> Less than 1 meter from a park
        </p>
      </div>

      <div class="feed-criteria-description">
        <p>
          <i class="fas fa-dog" style="color: $green;"></i> This property is pet friendly
        </p>
      </div>
  
    </div>