<div class="feed-criteria">
      <h2 class="header">Why this property was chosen for you</h2>
      <div class="feed-criteria-description">
        <p>
          <% if @pets_tag %>
            <i class="fas fa-dog" style="color: $green;"></i> Pet friendly
          <% else %>
          <% end %>
        </p>
        <p>
          <% if @bar_tag %>
            <i class="fas fa-dog" style="color: $green;"></i> Many bars nearby
          <% else %>
          <% end %>
        </p>
        <p>
          <% if @cafe_tag %>
            <i class="fas fa-dog" style="color: $green;"></i> Many cafes nearby
          <% else %>
          <% end %>
        </p>
      </div>

  
    </div>