<div class="property_container">
  <div class="property_card">
    <img class="property_img" src="https://images.unsplash.com/photo-1522708323590-d24dbb6b0267?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1500&amp;q=80">
      <div class="property-info">
     
        <%= @property.price %>
      
      </div>
      <div class="like">
      </div>
  </div>
</div>