<div class="img-box">

</div>
<div class= "meeting-container">
 <h1 style="color: rgba(186, 0, 217); font-size: 18px; text-align: center;">Confirmed Reservations</h1>
 <% @confirmed_reservations.each do |confirmed_reservation| %>
   <div class="col-12 col-md-6 col-lg-3">
    <%= render "card", reservation: confirmed_reservation %>
  </div>
 <% end %>
</div>
<div class= "meeting-container">
  <h1 style="color: rgba(186, 0, 217); font-size: 18px; text-align: center;">Applied Reservations</h1>
  <% @applied_reservations.each do |applied_reservation| %>
    <div class="col-12 col-md-6 col-lg-3">
      <%= render "card", reservation: applied_reservation %>
    </div>
  <% end %>
</div>



