<div class= "meeting-container">

    <% @confirmed_reservations.each do |confirmed_reservation| %>
    <div class="meeting-property-container">
  <h1 class= "text-center"> confirmed reservation </h1>

      <div class="meeting-property">
          <%=cl_image_tag confirmed_reservation.photo.key, height: 120, width: 130, crop: :fill, style: "border-radius: 20px; margin-left: 12px; margin-top: 10px;" %>
        </div>
        <div class="meeting-info">
            <%= confirmed_reservation.property.date %>
          </div>
          <div>
            <%= confirmed_reservation.property.time %>

          </div>
          <div>
            <%= confirmed_reservation.property.location %>

          </div>

          </div>
          <%#= link_to "", property_viewing.property, class: "btn btn-success", style: "color: white;"%>
        </div>
      </div>

    </div>
    <% end %>




  <div class= "meeting-card">

  </div>


  <h1 class= "text-center"> to be continued</h1>

  <div class= "meeting-card">
  </div>

  <h1 class= "text-center"> applied</h1>

    <div class= "meeting-card">
    </div>

</div>

