<div class= "meeting-container">
  <h1 class= "text-center"> confirmed viewings</h1>

  <div class= "meeting-card">

  </div>


  <h1 class= "text-center"> to be continued</h1>

  <div class= "meeting-card">
  </div>

  <h1 class= "text-center"> applied</h1>

    <div class= "meeting-card">
    </div>

</div>

