// Specific CSS for your home-page
.landing-img {
  background-image: asset_url("landing-page-final.svg");
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
}

.tagline {
  position: absolute;
  top: 55%;
  left: 6%;
  height: 10vh; 
  width: 50vh;   
}

.tagline h2 {
  font-size: 20px;
  font-weight: normal;
  color: white;
  text-align: center;
  text-shadow: 0px 4px 4px #000000;
}

.get-started-button {
  background-image: asset_url("landing-start.svg");
  border: none;
  position: absolute;
  width: 126px;
  height: 174px;
  left: 122px;
  top: 74%;
  background-position: center;
  background-repeat: no-repeat;
}