.feed-container {
margin-top: 3.6rem;
// margin-right: 6px;
// margin-left: 6px;
background: #F3F3F3;
}

.active .feed-img  {
  // border-radius: 20px;
  // height: 100%;
}

.active {
  height: 607px;
}

.inactive {
  height: 100vh;
  width: 100%;
  padding-bottom: 1rem;
  background-position: center;
  border-radius: 20px;
}

.img-svg-location {
  position: absolute; 
  top: 320px; 
  left: 10px;
}

.img-svg-station {
  position: absolute; 
  top: 360px; 
  left: 10px
}

.feed-img-location {
  position: absolute;
  top: 314px;
  font-size: 26px;
  font-weight: bold;
  color: white;
  letter-spacing: 6%;
  left: 38px;
  text-shadow: 3px 0px 2px rgb(0, 0, 0);
}

.feed-img-station {
  position: absolute;
  top: 364px;
  font-size: 15px;
  font-weight: normal;
  color: white;
  letter-spacing: 6%;
  left: 38px;
  text-shadow: 3px 0px 2px rgb(0, 0, 0);
}

.feed-img-price {
  height: 43px;
  width: 155px;
  background-color: rgba(186, 0, 217, 0.6);
  border-radius: 20px;
  position: absolute;
  top: 80%;
  left: 54%;
}

.feed-img-price p {
  color: white;
  font-weight: bold;
  font-size: 26px;
  line-height: 159.3%;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

}

.feed-criteria {
  background-color: white;
  border-radius: 20px;
  padding: 16px 8px;
  margin-bottom: 1rem;
}

.header {
  color: $purple;
  font-size: 25px;
  text-align: center;
}

.feed-criteria-description p {
  color: $green;
  font-size: 16px;
  margin-bottom: 0;
  text-align: center;
}

.feed-additional-info  {
  font-size: 25px;
  text-align: left;
  background-color: white;
  border-radius: 20px;
  padding: 16px 8px;
  // margin-bottom: -3rem;
  padding-bottom: 10rem;
}

.feed-additional-info-pill-1 {
  background: rgba(186, 0, 217, 0.53);
  height: 43px;
  width: 155px;
  border-radius: 20px;
  display: flex;
}

.feed-additional-info-pill-2 {
  background: rgba(186, 0, 217, 0.53);
  height: 43px;
  width: 155px;
  border-radius: 20px;
  display: flex;
  margin-left: 2rem;
}

.feed-additional-info-box-content {
  text-align: center;
  width: 85px;
}

.feed-additional-info-box-content p {
  font-size: 12px; 
  margin-bottom: 0;
  color: white;
}

.initial-cost h2 {
  margin-top: 3rem; 
  // margin-bottom: rem;
  font-size: 25px;
  color: $green;
  font-weight: normal;
  text-align: center;
  margin-bottom: 0;
}

.initial-cost p {
  font-size: 14px;
  color: $green;
  text-align: center;
  margin-top: 0;
}

.initial-cost-price {
  height: 43px;
  width: 155px;
  background-color: rgba(186, 0, 217, 0.6);
  border-radius: 20px;
  text-align: center;
  color: white;
  padding-top: 4px;
  margin-right: auto;
  margin-left: auto;
}

.feed-yes-btn {
  background-image: asset_url('Logo-62x65.png');
  height: 80px;
  width: 80px;
  background-position: center;
  background-repeat: no-repeat;
}

.feed-no-btn {
  height: 80px;
  width: 80px;
  background-image: url('no-button.png');
  background-position: center;
  background-repeat: no-repeat;
}
