.navbar-lewagon {
  justify-content: space-between;
  background: white;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 2;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
