.location-field {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.go_back_button {
  position: absolute;
  top: 5px;
  left: 15px;
  color:white;
}

.go_back_button:hover {
  text-decoration: none;
  color: white;
}

.go_back_arrow {
  position: absolute;
  top: 9px;
  left: 0px;
}