.theme {
  background: linear-gradient(rgba(47, 238, 146, 0.77), rgba(67, 67, 67, 1));
  min-height: 100vh;
  color: white;
}

.question {
  padding-top: 9rem;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 128.3%;
  letter-spacing: 0.1em;
}

.question-subtext {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 128.3%;
  letter-spacing: 0.1em;
  color: white;
  margin-top: 2rem;
}

.next-button {
  background: linear-gradient(180deg, rgba(47, 238, 146, 0.77) -190%, rgba(47, 238, 146, 0.93) 255%);
  border-radius: 8px;
  border-style: none;
  color: white;
  position: absolute;
  width: 114px;
  height: 40px;
  left: 130px;
  top: 497px;
}

.go_back_button {
  position: absolute;
  top: 5px;
  left: 15px;
  color:white;
}

.go_back_button:hover {
  text-decoration: none;
  color: white;
}

.go_back_arrow {
  position: absolute;
  top: 9px;
  left: 0px;
}

// For Question 1 use with the sliders

.rangeValues {
  font-style: normal;
  font-weight:200;
  font-size: 14px;
  line-height: 128.3%;
  letter-spacing: 0.1em;
  margin-top: 2rem;
}

.range-slider {
  margin-top: 1.5rem;
}

#slider1 {
  margin-top: 1rem;
  height: 30px;
}

#slider2 {
  margin-top: 1rem;
  height: 30px;
}

// For Yes/No Questions

.yes-button {
  background: linear-gradient(180deg, rgba(47, 238, 146, 0.77) -190%, rgba(47, 238, 146, 0.93) 255%);
  border-radius: 8px;
  border-style: none;
  color: white;
  position: absolute;
  width: 114px;
  height: 40px;
  left: 130px;
  top: 440px;
}

.no-button {
  background: linear-gradient(180deg, rgba(47, 238, 146, 0.77) -190%, rgba(47, 238, 146, 0.93) 255%);
  border-radius: 8px;
  border-style: none;
  color: white;
  position: absolute;
  width: 114px;
  height: 40px;
  left: 130px;
  top: 497px;
}

// For questions asking for a location

.location-field {
  margin-top: 2rem;
  margin-bottom: 2rem;
}